{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Все записи</h1>
  </div>
  <div class="col-6 mx-auto">
  {% for event in events %}
    <div class="card my-3">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title">{{ event.name }}</h5>
        </div>
        <a href="{{ url_for('post', post_id=event.game_id) }}" class="text-decoration-none">{{ event.post.title }}</a>
        <p class="card-text">Дата и время: {{ event.date }}</p>
        <p class="card-text">Место проведения: {{ event.place }}</p>
        <p class="card-text">Описание: {{ event.description }}</p>
        </p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}