{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Клуб любителей настольных игр</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>КАКОЙ ТО ЗАГОЛОВОК </h2>
                <h4>КАКОЙ ТО ПОДЗАГОЛОВОК ПОТОМ СДЕЛАЕМ</h4>
                <p class="mb-0">Какой то текст </p>
                <p class="text-muted">Миша такую конфетку потом сделает с дизайном я уверен</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h1 class="text-center mb-2">Для дальнейшего доступа к сайту закрытого клуба ... требуется быть его участником</h1>
            <p>Пожалуйста, <a href="/login">войдите</a> или <a href="https://youtu.be/g7tzDP3oI2Y?si=8OE4MUOv9-2UU9I_">зарегистрируйтесь</a> для просмотра своего профиля.</p>
        </div>
      </div>
{% endblock %}