{% extends 'base.html' %}

{% block content %}
<h1>Галерея</h1>
<div class="slider-container">
    <div class="slider">
      <img src="static/11.jpeg" alt="1">
      <img src="static/12.jpg" alt="2">
      <img src="static/13.jpg" alt="3">
    </div>
    <button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
    <button class="next-button" aria-label="Посмотреть следующий слайд">&gt</button>
    </div>

<script src="static/Scripts.js"></script>
    <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="col-md-6">
                <h1>Наша история</h1>
                <h4 class="mb-0">Клуб был основан в 1992 году, когда его основатель Масакадо Тайра посетил Санкт-Петербург. Господин Тайра был поражен красотой города, однако после
                посещения местного кабака он обнаружил, что в городе нет ни одного заведения, где он мог бы поиграть в традиционную японскую игру Го, или Сеги. Будучи раздосадованым
                этим фактом Господин Тайра решил сделать подарок так полюбившемуся ему городу, и основал клуб под собственной фамилией. На собственные сбережения он приобрел помещение
                в центре города, закупил мебель и заказал со своей родины наборы для различных национальных игр. С тех самых пор клуб начал активно расширяться. Поскольку с самого начала
                Господин Тайра задумал это место как клуб для настоящих ценителей интеллектуальных развлечений - вход в него осуществлялся в рамках системы членов. Мы считаем очень
                важным поддерживать эту традицию, допуская в нашего общество только самых достойных.</h4>
            </div>
            <div class="imga">
                <img src="static/23.png" width="100%" height="100%">
                <figcaption>Господин Тайра(слева), его отец Тайра Есимочи(Середина) и их друзья во время второго визита в Петербург. 1993 год.</figcaption>
            </div>
    </div>

 <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="imge">
                <img src="static/24.jpg" width="100%" height="100%">
                <figcaption>Встреча членов клуба, посвященная игре Persona 5 Tactica. 2023 год</figcaption>
            </div>
            <div class="col-md-6">
                <h1>Чем мы занимаемся?</h1>
                <h4 class="mb-0">В нашем клубе ежедневно проводятся встречи поклонников различных интеллектуальных игр. Помимо традиционных японских развлечений, таких как сеги
                го и маджонг, мы так же проводим вечера посвященные таким знаменитым играм как Dungeons and Dragons, Warhammer 40k, Диксит и многим другим. Члены клуба имеют возможность
                организовать встречу, посвященную абсолютно любой настольной игре, ровно как и прийти поиграть на такую встречу, организованную другими членами клуба. Нашей задачей
                со времен основания клуба является предоставление членам комфортной среды для занятия любимыми хобби.</h4>
            </div>
    </div>

<div class="d-flex justify-content-between align-items-center mb-3">
            <div class="col-md-6">
                <h1>Почему мы?</h1>
                <h4 class="mb-0">Члены нашего клуба ничем не ограничены. Никаких социальных противоречий, столпотворений или разногласий - в рамках нашего клуба вы получаете
                полную свободу самовыражения. Вас окружает комфортная, дружелюбная атмосфера и единомышленники, с которыми в едином порыве вы можете заниматься тем, что для вас
                по-настоящему важно. Члены клуба сами распоражаются его фондом, потому вас ничего не сковывает. Вы сами устанавливаете правила.</h4>
            </div>
            <div class="imga">
                <img src="static/25.jpg" width="100%" height="100%">
                <figcaption>Миниатюры Warhammer40k, собранные и покращенные членами нашего клуба</figcaption>
            </div>
    </div>
    {% if current_user.is_authenticated == False %}
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h1 class="text-center mb-2">Для дальнейшего доступа к сайту закрытого клуба требуется быть его членом</h1>
                <p>Пожалуйста, <a href="/login">войдите</a> или <a href="/register">зарегистрируйтесь</a> для просмотра своего профиля.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}


